nav.nav a:hover {
    border-bottom: 2px solid #fff;
}
  
.animacao1 {
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
}
  
@keyframes aparecer  {
    0% { opacity: 0 }
    100% { opacity: 1 }
}
  
.transformacao1{
    transform: rotate(30deg);
}
.transformacao2{
    transform: scale(2, 1);
}
  
h3::first-letter{
    color:rgb(85, 4, 45);
    text-transform: uppercase;
}
  
p::first-line{
    color:blueviolet
}
  
a.pseudo:visited{
    color: crimson;
}
a.pseudo:active{
    color: blue;
}